<div class="container">
    <div class="row">
        <div class="col-md-6">
            <h1>hola</h1>
        </div>
        <div class="col-md-6">
            <h1>mundo</h1>
        </div>
    </div>
</div>
